<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>signupdemo</servlet-name>
        <servlet-class>signupdemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logindemo</servlet-name>
        <servlet-class>logindemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eha</servlet-name>
        <servlet-class>eha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorinfo</servlet-name>
        <servlet-class>doctorinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchp</servlet-name>
        <servlet-class>searchp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signupdemo</servlet-name>
        <url-pattern>/signupdemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logindemo</servlet-name>
        <url-pattern>/logindemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eha</servlet-name>
        <url-pattern>/eha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorinfo</servlet-name>
        <url-pattern>/doctorinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchp</servlet-name>
        <url-pattern>/searchp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
